[submodule "3rdparty/vtk"]
	path = 3rdparty/vtk
	url = https://gitlab.kitware.com/vtk/vtk
[submodule "3rdparty/eigen"]
	path = 3rdparty/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "3rdparty/Catch"]
	path = 3rdparty/Catch
	url = https://github.com/catchorg/Catch2
[submodule "3rdparty/json2cpp"]
	path = 3rdparty/json2cpp
	url = https://github.com/lefticus/json2cpp
[submodule "3rdparty/gcem"]
	path = 3rdparty/gcem
	url = https://github.com/kthohr/gcem
